# pyenv configuration
.python-version

# poetry virtual environemnt
.pyenv/

# Byte-compiled and optimised sources
__pycache__/
*.py[co]

# macOS metadata
.DS_Store

# Idea project settings
.idea/

# mypy type-checking cache
.mypy_cache/

# Unit test reports and coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# Distribution and packaging artefacts
dist/
