# pyenv configuration
.python-version

# poetry virtual environemnt
.venv/

# Byte-compiled and optimised sources
__pycache__/
*.py[co]

# Idea project settings
.idea/

# mypy type-checking cache
.mypy_cache/

# Unit test reports
.pytest_cache/

# Coverage reports
.coverage

# tox testing environments
.tox/

# Sphinx documentation
docs/_build/

# Distribution and packaging artefacts
dist/

# macOS metadata
.DS_Store
