# Virtual environment configuration
.python-version
.venv/

# Caches (byte-compiled and optimised sources, mypy, pytest, coverage, etc.)
__pycache__/
.*_cache/

# tox testing environments
.tox/

# Sphinx documentation
docs/_build/

# Distribution and packaging artefacts
build/
dist/

# Local metadata (PDM, macOS, etc.)
.pdm-python
.DS_Store

# PyCharm project settings
.idea/
